@{
    ViewBag.Title = "UserDashBoard";
}

<fieldset>
    <legend> User DashBoard </legend>
    @if(Session["UserName"]!= null){
        <text>Welcome @Session["UserName"].ToString()</text>
    <p>@Html.ActionLink("退出系统", "SignOut", "Login")</p>
    }
   
</fieldset>  